*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-collor: #EFF1FF;
    --header-collor: #4A4E69;
    --card-collor: #FEEAFA;

    --title-font: 'Staatliches', cursive;
    --text-font: 'Palanquin', sans-serif;
    font-size: 62.5%;
    --fs-body: 1.6rem;
}

/*Mobile version*/
.page{
    display: grid;

    margin: 0 auto;

    text-align: center;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    font-family: var(--title-font);
    background-color: var(--background-collor);
}

header .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;

    background-color: #4A4E69;
    color: #EFF1FF;

    width: 100%;
    padding-bottom: 3.2rem;
}

.img{
    margin-top: 3.2rem;

    width: 13.7rem;
    height: auto;
    
    animation: rotation 5s linear infinite;
}

svg{
    width: 100%; height: auto;
} 

header h1{
    background-color:#CBC0D3;
    color: rgb(255, 254, 255);
    
    padding: .8rem 0;
    
    width: 100%;
    font-weight: 400;
    font-size: 6rem;
    line-height: 6rem;
    text-shadow: 0 .2rem .2rem rgba(0, 0, 0, 0.25);
}

header p{
    width: 92%;
    padding: 0 3.2rem;
    margin: 3.2rem 0 5.4rem 0;

    font-family: var(--text-font);
    font-size: 2rem;
    line-height: 2.7rem;
}

main{
    display: flex;
    flex-direction: column;
    gap: 3.2rem;

    padding: 0 3.2rem 3.2rem 3.2rem ;

    background-color: var(--background-collor);
}

main p{
    margin: 3.2rem;

    font-family: var(--text-font);
    font-size: 1.9rem;
    line-height: 2rem;
    font-weight: 400;
}


.card{
    position: relative;
    animation: card_animation .5s 1 backwards;
}

.card img{
    /* margin-bottom: 3.2rem; */
    
    object-fit: cover;
    width: 100%;
    border-radius: 2rem;
}

.card p{
    font-family: var(--title-font);
    border-radius: 5rem;

    position: absolute;
    right: -1rem;
    top: -1rem;

    padding: .8rem 2.6rem;
    
    line-height: 3.4rem;
    font-size: 2.5rem;
    
    color: #4A4E69;
    background-color: var(--card-collor);

    animation: card_title 1s 1 backwards;
}

footer {
    display: none;
}

/*Animations*/
@keyframes card_animation{
    from{
        opacity: 0;
        transform: translateY(3rem);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes card_title{
    from{
        opacity: 0;
        transform: translateY(-3rem);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes rotation{
    from{
        transform: rotate(0);
    }

    to{
        transform: rotate(360deg);
    }
}

 /*intermediary Screen*/
@media (min-width: 900px) {

    body{
        background-color:var(--background-collor);
    }

    .page {
        grid-template-areas: 
            "header main" 
            "header footer";

        grid-template-columns: 1.5fr 2fr;

        height: 100vh;
    }
    
    header {
        grid-area: header;
        background-color: var(--header-collor);
    } 
    
    header p{
        color: white;
        line-height: 3rem;
    }

    .box{
        background-color: var(--header-collor)
    }

    footer {
        display: block;
        color: #4A4E69;
        grid-area: footer;
    }

    footer p{
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        text-align: center;
    }

    footer span{
        font-weight: 700;
    }

    main {
        padding: 64px;
        display: grid;
        gap: 32px;
        grid-area: main;
    }

    .card{
        position: relative;
    }

    .card p{
        right: -1rem;
        top: -1rem;
    }
}

/*Descktop Screen*/
@media (min-width: 1280px) {
    body{
        background-color:var(--background-collor);
    }

    .page {
        height: 100vh;
        grid-template-areas: 
        "header main" 
        "header footer";
        grid-template-columns: 1fr 3fr;
    }

    .img{
        width: 21rem;
        height: auto;
    }

    header {
        grid-area: header;
        background-color: var(--header-collor);
    } 
    
    header p{
        color: white;
        line-height: 3rem;
    }

    .box{
        background-color: var(--header-collor)
    }

    footer {
        grid-area: footer;
        display: block;

        color: #4A4E69;
    }

    footer p{
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        text-align: center;

        margin-bottom: 4rem;
    }

    footer span{
        font-weight: 700;
    }

    main {
        display: grid;

        gap: 32px;
        grid-area: main;
        grid-template-columns: 1fr 1fr 1fr;

        grid-template-areas: 
        "A C E" 
        "B C F"
        "B D F";

        padding: 64px;
    }
    main .A {
        grid-area: A;
    }
    main .B {
        grid-area: B;
    }
    main .C {
        grid-area: C;
    }
    main .D {
        grid-area: D;
    }
    main .E {
        grid-area: E;
    }
    main .F {
        grid-area: F;
    }

    .card{
        width: 81%;
    }

    .card p{
        font-family: var(--title-font);

        position: absolute;
        right: -1rem;
        top: -1rem;

        padding: .8rem 2.6rem;

        line-height: 2.8rem;
        font-size: 2.5rem;
        border-radius: 5rem;
        color: #4A4E69;
        
        background-color: var(--card-collor);

        animation: card_title 1s 1 backwards;
    }

}

/*
    By jackson
    
    Stage 03 - Avançando no HTML e CSS 
*/
